.site-footer {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  &.home-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: no-repeat;
    color: var(--white-color);
  }
  .footer-brand {
    .logo {
      font-family: "Brown Sugar";
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .copyright {
      color: #888;
      font-size: 13px;
    }
  }
  
    .footer-links {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin-bottom: 0.5rem;
          cursor: pointer;
          a{
            text-decoration: none;
            color: inherit;
            &:hover{
              text-decoration: underline;
            }
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  
    .footer-social {
      p {
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
  
      .social-icon {
        background-color: #e4f0f2;
        padding: 8px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.2s ease;
  
        &:hover {
          background-color: #cce4e8;
        }
  
        svg {
          color: #3b3b3b;
        }
      }
    }
  }
  
.floating-footer{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}